/*################ global css start ################*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: rgb(21, 21, 21);
    color: #fff;
}

/*################ End of global css ################*/



/*################ banner css start ################*/
.banner {
    background: url(../images/banner-bg.png) no-repeat center center/cover;
    padding: 150px 0;
}

.banner h1 {
    font-family: 'Berkshire Swash', cursive;
    font-size: 76px;
    color: #FF5E19;
}

/*################ End of banner css ################*/


/*################ player-card css start ################*/
.player-card {
    background-color: #0D0D0D;
    border-color: #434343;
}

.player-card .player-name {
    font-size: 24px;
    font-weight: 800;
}

.player-card .description {
    color: #B3B3B3;
}

.player-card .btn-player-select {
    background-color: #015196;
    color: #fff;
}

.player-card .btn-player-select:disabled {
    background-color: #A2A9AF;
}

/*################ End of player-card css ################*/


/*################ ? css start ################*/

/*################ End of ? css ################*/